.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/load-indicator.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: 0.4;
}

.loader_dup {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 10%;
    height: 10%;
    z-index: 9999;
    background: url('../images/load-indicator.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: 0.4;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

#ui_notifIt{
    position: fixed;
    top: 10px;
    z-index: 999999;
    right: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
#ui_notifIt p{
    text-align: center;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.success{
    background-color: yellowgreen;
    color: white;
}
.error{
    background-color: orangered;
    color: white;
}
.warning{
    background-color: orange;
    color: white;
}
.info{
    background-color: deepskyblue;
    color: white;
}
.default{
    background-color: #EEE;
    color: #444;
}

.modernAlertWrapper {
    background: #fff;
    color: #555;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    left: 50%;
    min-height: 120px;
    min-width: 240px;
    position: fixed;
    text-align: center;
    top: 50%;
    z-index: 999;
    font-size: 14px;
    padding-bottom: 15px;
}

.modernAlertWrapper h4 {
    background: #e8a033;
    color: #fff;
    margin: 0;
    padding: 5px;
    font-size: 16px;
}

.modernAlertOverlay {
    background: rgba(0, 0, 0, 0.5);
    cursor: wait;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;
}