/*!
 * Start Bootstrap - Modern Business HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

@font-face {
  font-family: 'robotocondensed';
  src: url('../fonts/roboto-condensed_0-webfont.eot');
  src: url('../fonts/roboto-condensed_0-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-condensed_0-webfont.woff') format('woff'),
  url('../fonts/roboto-condensed_0-webfont.ttf') format('truetype');
  /*url('../fonts/roboto-condensed_0-webfont.svg#robotocondensed') format('svg');*/
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
}

body {
  /*padding-top: 50px; !* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. *!*/
}

.img-portfolio {
  margin-bottom: 30px;
}

.img-hover:hover {
  opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
  height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
  height: 100%;
}

header.carousel .fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* 404 Page Styles */

.error-404 {
  font-size: 100px;
}

/* Pricing Page Styles */

.price {
  display: block;
  font-size: 50px;
  line-height: 50px;
}

.price sup {
  top: -20px;
  left: 2px;
  font-size: 20px;
}

.period {
  display: block;
  font-style: italic;
}

/* Footer Styles */

footer {
  margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
  .customer-img,
  .img-related {
    margin-bottom: 30px;
  }
}

@media(max-width:767px) {
  .img-portfolio {
    margin-bottom: 15px;
  }

  header.carousel .carousel {
    height: 70%;
  }
}

img.logo {
  max-width: 50%;
}

img.subLogo {
    max-width: 20%;
    padding-top: 25px;
}

.padTopBody {
  padding-top: 150px;
}

.padTopBodyMin {
  padding-top: 75px;
}

.centerAlign {
  text-align: center;
}

.panelLogin {
  background: #4681A9 !important;
  color: white !important;
  border: 0 !important;
  font-size: 16px;
}

.noBord {
  border: 0 !important;
  border-radius: 0px !important;
}

.panCol {
  background: #FECC00 !important;
}

.padManage {
  /*padding-left: 58px;*/
  padding-right: 105px;
}

.dhlControls {
  border-radius: 0 !important;
  padding: 3px;
  /*border: 0 !important;*/
}

.ddpad {
    padding: 3px;
}

.buttonAlignment {
  text-align: right;
}

.modwarn {
  background: #990000 !important;
  border: 0 !important;
  border-radius: 0 !important;
  padding: 8px 30px !important;
  font-size: 16px !important;
}

.modsucc {
  background: #54A41F;
  border: 0 !important;
  border-radius: 0 !important;
  padding: 8px 30px !important;
  font-size: 16px !important;
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: right;
  width: 100%;
}

.dhlHeader {
  background: #FFCC00 !important;
  border: 0 !important;
  border-radius: 0 !important;
  height: 50px !important;
}

.official {
  height: 50px !important;
  width: 320px !important;
  text-align: center !important;
  padding: 11px 50px !important;
}

img.pogo {
  max-width: 100%;
}

.floater {
  float: right !important;
}

.userName {
  color: #d21c1c !important;
  font-size: 18px !important;
}

.bog {
  color: white !important;
  font-size: 20px !important;
}

.ng-pageslide {
  background: #0f222f;
  top: 50px !important;
  color: white;
  /*width: 260px !important;*/
  box-shadow: 0 4px 2px 3px rgba(0, 0, 0, 0.24);
}

ul.sliderMenu {
  display: block;
  list-style: none;
  padding: 10px;
}

li.marTha {
  padding: 10px;
  border-bottom:1px solid #505050;
}

li.marThaLast {
  padding: 10px;

}

span.menuNav {
  margin-left: 15px;
  font-size: 14px;
}

ul.dhlPager {
  margin: 0 !important;
  float: right;
}

a.precise {
  margin-right: 5px;
  border: 0 !important;
  border-radius: 0 !important;
  background: #dd0011 !important;
  color: white !important;
}

a.active {
  background: #FF9900 !important;
}

.footerMain {
  /*position: absolute;
  position: relative;
      bottom: -90px;
      */
  bottom: 0;
  text-align: center;
  width: 100%;
  font-size: 12px;
      padding-top: 10px;
      background: #1B3F79;
position: fixed;
    bottom: 0px;
    left: 0px;

}

img.beta {
  max-width: 3%;
}

img.theta {
  max-width: 7%;
}

.mainColFix{
  margin-bottom: 15px;
  text-align: right;
  padding-right: 43px !important;
}

.modsuccevent {
  background: #54A41F;
  border: 0 !important;
  border-radius: 0 !important;
  padding: 5px 30px !important;
  font-size: 14px !important;
  margin-bottom:20px
}

.btn-grey {
  background: #CACACA !important;
  border: 0 !important;
  border-radius: 0 !important;
  padding: 5px 30px !important;
  font-size: 14px !important;
  cursor: not-allowed;
}
/*{*/
  /*background-color: #F90 !important;*/
  /*color: white !important;*/
/*}*/


@media(max-width:885px) {
  .footerMain {
    text-align: center;
    width: 100%;
    font-size: 12px;
    position: inherit;
  }
}

.labelFix {
  padding: 0;
  font-size: 13px;
  margin-top: 3px;
  text-align: right;
}

.padRgtFix {
  padding-right: 0px !important;
  padding-left: 4px !important;
}

.more {
  height: 29px !important;
}

.formFix {
  float: left;
  width: 100%;
  margin-bottom: 3px !important;
}

.formAlignment {
  float: left;
  width: 100%;
  margin-top: 10px;
}

.modcanform {
  background: #CACACA !important;
  border: 0 !important;
  border-radius: 0 !important;
  padding: 5px 20px !important;
  font-size: 14px !important;
  color: black;
}

.profcon {
  background: #FFCC00 !important;
  color: #504D4D;
  padding: 5px 30px !important;
}

.modsubform {
  background: #CACACA !important;
  border: 0 !important;
  border-radius: 0 !important;
  padding: 5px 20px !important;
  font-size: 14px !important;
  color: black;
}

.panelMain {
  background: #4681A9 !important;
  color: white !important;
  border: 0 !important;
  font-size: 14px;
  padding: 6px;
  border-radius: 0;
}

.basic {
  background: #F2F2F2;
  border: 1px solid #DEDEDE;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}

.sm {
  font-size: 13px;
}

.ssm {
  font-size: 12px;
}

td.radStyle {
  padding: 0px 5px !important;
}

/*#viewThree {*/
  /*background: white !important;*/
  /*float: left;*/
  /*padding: 5px;*/
  /*!*height:345px;*!*/
/*}*/

/*#viewOne {*/
  /*background: #FFF0B7;*/
  /*float: left;*/
  /*padding: 5px;*/
  /*!*height:345px;*!*/
/*}*/

.panFan {
  background: #D0D4D5 !important;
}

.banban {
  padding: 5px 10px 5px 5px !important;
}

.formBetAlignment {
  float: left;
  width: 100%;
  margin-top: 15px;
}

.cancol {
  background: red !important;
  color: white !important;
}

.subcol {
  background: #54A41F !important;
  color: white !important;
}

a.linkerlinks {
  color: white;
  text-decoration: none;
}

.small {
  cursor: not-allowed;
}

.panelSubMain {
  background: #4681A9 !important;
  color: white !important;
  border: 0 !important;
  font-size: 14px;
  padding: 10px;
  border-radius: 0;
}

ul.policy {
  padding: 30px 30px 285px 30px;
  font-size: 13px;
  line-height: 19px;
}

.bigPad {
  padding-top: 100px;
}


.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.72);
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px rgba(0, 0, 0, 0.09);
}
.ng-modal-dialog-content {
  /*padding:10px;*/
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
}

.onlyButClass {
  background: #CCCC00;
  border: 0;
  padding: 3px 8px;
  color: white;
}

/*added by souvick*/

/*In others.css add -*/

.stnComm {
  font-size: 11px;
  padding-bottom: 24px;
  color: #636363;
}

.pageicon {
  background: rgba(215, 78, 10, 0.39);
  padding: 10px;
  color: white;
}

.pagingholder {
  text-align: right;
}

@media (min-width: 992px){
  .col-md-2-3 {
    width: 20%;
    float: left;
  }
}


.filterOps {
  float: left;
  width: 100%;
  text-align: left;
  background: white;
}

.grey {
  /* background: #666666; */
  padding-bottom: 5px !important;
  /* color: white; */
  font-size: 14px !important;
}

.title {
  padding: 3px;
  font-size: 16px;
}

.coverClass {
  height: 165px;
  max-width: 100%;
  background-size: cover;
  background-color: #0C0C0C;
  background-position: center 50%;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
}


.demo-section.k-content {
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.08), 0 3px 6px rgba(0,0,0,.08);
  background: white;
  color: black;
  border: 0 !important;
}

.stillHeight {
  height: 262px;
}

.marooned {
  background: #990000;
}

.paddingConstant {
  padding: 10px;
}

.noPad {
  padding: 0 !important;
}

.addSel {
  width: 100%;
  padding: 2px;
  font-size: 13px;
}
.padLftFix {
  padding-left: 0px !important;
}

.fullWidth {
  width: 100%;
}

.margTop {
  margin-top: 10px;
}

.fns {
  font-size: 16px;
}

.panWen {
  background: white;
}

td.bl {
  background-color: white !important;
}

.smore {
  border: 1px solid rgba(0, 0, 0, 0.28) !important;
}

.formInButFix {
  font-size: 12px;
  height: 26px;
}

.mapView {
  width: 100%;
  height: 170px;
  border: 1px solid rgba(128, 128, 128, 0.45);
}

.bigMapView {
  width: 100%;
  height: 385px;
  border: 1px solid rgba(128, 128, 128, 0.45);
}

.bigMargTop {
  margin-top: 30px;
}

.accordion {
  font-size: 14px;
  padding-left: 20px;
  margin: 10px 0px;
}

a.acc {
  color: black;
}

.accordion .active {
  background: none !important;
}

p.accordion-content {
  padding-left: 40px;
  font-size: 13px;
  line-height: 20px;
}














.marooned {
    background: #4681A9;
}

.paddingConstant {
  padding: 10px;
}

.noPad {
  padding: 0 !important;
}

.addSel {
    width: 100%;
    padding: 2px;
    font-size: 13px;
}
.padLftFix {
  padding-left: 0px !important;
}

.fullWidth {
  width: 100%;
}

.margTop {
  margin-top: 10px;
}

.fns {
  font-size: 16px;
}

.panWen {
  background: #D0D4D5;
  border: 0;
}

td.bl {
  background-color: white !important;
}

.smore {
  border: 1px solid rgba(0, 0, 0, 0.28) !important;
}

.formInButFix {
    font-size: 12px;
    height: 26px;
}

.mapView {
    width: 100%;
    height: 170px;
    border: 1px solid rgba(128, 128, 128, 0.45);
}

.bigMapView {
    width: 100%;
    height: 385px;
    border: 1px solid rgba(128, 128, 128, 0.45);
}

.bigMargTop {
  margin-top: 10px;
}

.accordion {
    font-size: 14px;
    padding-left: 20px;
    margin: 10px 0px;
}

a.acc {
    color: black;
}

.accordion .active {
  background: none !important;
}

p.accordion-content {
    padding-left: 40px;
    font-size: 13px;
    line-height: 20px;
}

button[disabled], html input[disabled] {
    cursor: default;
    color: grey !important;
}

ul.taber {
  list-style: none;
  padding: 0;
  margin: 0;
    float: left;
    width: 100%;
  background: #4681A9;
}

li.taberview {
    float: left;
    border-bottom-width: 0;
    /* margin: 3px 3px 0px 3px; */
    padding: 7px;
   /* background-color: #FDCA00;*/
    color: #fff;

    font-size: 13px;
    width: 33%;
    text-align: center;
    border:1px solid #fff;
    width:33.3%;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
}
li.taberview.active {
background: #1B3F79;

}
#mainView {
  clear: both;
  padding: 5px;
  float: left;
  height: 380px;
  background: white;
  width: 100%;
}
.container{width:auto; margin:0 15px !important}


span.divbord{
 border-bottom: 1px solid;
     width: 26%;
     float: left;
     border-color: white;
     margin-left: 284px;
}


.remwhitebord {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.panWhite {
    background: white;
}

td {
    background: white !important;
    font-size: 13px;
}

.margBot {
    margin-bottom: 10px;
}

.floats {
    float: left;
    width: 100%;
}

.bluelcol {
    background: #219CD7;
    border: 0;
    padding: 5px;
    width: 100%;
}

.ddengue {
    background: #E8E8E8;
    color: rgba(45, 45, 45, 0.77);
    border: 1px solid rgba(0, 0, 0, 0.24) !important;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(35,47,62,.23);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5);
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.showcss{ display:block;}
.hidecss{ display:none;}
/*end*/

/*css for counter grid*/

.consoleul {
  display: block;
  margin: 0px;
  padding: 0px;
}
/*.panel-title > a*/

.sidebar-item{
  list-style: none;
}
.sidebar-item > a{
  text-decoration: none !important;
  font-size: 16px;
  color: #013a65;
}

table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
  padding: 5px !important;
  font-size: 12px !important;
  text-align: center;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {

  padding: 1px 10px !important;
  font-size: 11px;
}

.margin_date{
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 23px;
}

div.dataTables_filter {
  float:right;
}

a.dt-button {
    width: 55px;
    text-align: center;
    background: rgba(255, 249, 149, 0.98);
}

div.dataTables_filter input{
  /*width:300px !important;*/
  width: 247px !important;
}



div.dataTables_paginate {
    position: absolute;
    right: 19px;
    top: -6px;
    padding-top: 0px !important;
}

div.dataTables_info{
    position: absolute;
    top: -4px;
    width: 30%;
    text-align: left;
    left: 95px;
    padding-top: 7px!important;
    font-size: 12px;
}


.dataTables_filter input {
    margin-left: .5em;
    border: 1px solid #b7b7b7;
}

.dataTables_filter {
	float: left !important;
    width: 57%;
}

.dt-buttons {
	position: absolute !important;
    top: -38px;
    right: 0;
}

@media (min-width: 992px) {
.col-md-4-5 {
    width: 33.666667%;
    float: left;
	}
}

a.paginate_button.current {
	padding: 3px !important;
    font-size: 12px;
    background: #faf594 !important;
}

.spAtt {
    position: absolute;
    left: 46px;
    margin: 0;
    top: 17px;
    width: 79%;
}

.showCountr {
	display:none;
    position: fixed;
    right: 0;
    height: 260px;
    bottom: 52px;
    background: #faf594;
    width: 250px;
    padding: 10px;
}

.counterCss {
	position: fixed;
    width: 5%;
    right: 0px;
    bottom: 0;
    background: #faf594;
    padding: 10px;
    color: #060606;
    border: 1px solid #c7be09;
    text-align: center;
}

.dispSearchLabel {
  background: #f6f7f9;
  border-bottom: 1px solid #e9eaed;
  border-top: 1px solid #e9eaed;
  line-height: 16px;
  padding: 10px 7px;
  text-transform: uppercase;
  font-size: 13px;
  color: grey;
  box-shadow: 10px 10px 5px #888888;
}

.disp {
  display: none;
}

.display_box {
  padding: 5px;
  border-bottom: 1px solid #D0CFCF;
  font-size: 16px;
  color: #000;
  float: left;
  width: 100%;
  box-shadow: 10px 10px 5px #888888;
  background:white;
}

.searchProfImgHolder {
  height: 40px !important;
  width: 40px !important;
  float: left !important;
}

.pofimg {
  max-width: 100%;
}

.placehold {
  float: right;
  width: 70%;
  text-align: right;
}

span.otlabtext {
  color: grey;
  font-size: 10px;
  float: left;
  width: 100%;
  font-weight: 100;
}

.divide {
  background: #f6f7f9;
  border-bottom: 1px solid #e9eaed;
  border-top: 1px solid #e9eaed;
  line-height: 16px;
  padding: 2px 7px 1px;
  text-transform: uppercase;
  float: left;
  width: 100%;
}

  .loadingnewloader{
  background-color: #ffffff;
  background-image: url("../images/inside-loader.gif");
  background-size: 25px 25px;
  background-position:right center;
  background-repeat: no-repeat;
  /*background: blanchedalmond;*/
}

.pageoverlap{
  position: absolute;
  /*z-index: -1;*/
  top: 48px;
}

#notification {
  position: absolute;
  top: -47px;
  right: -26px;
  width: 30%;
  z-index: 105;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: #086eb7;
  padding: 9px;
}
#notification span.dismiss {
  border:2px solid #FFF;
  padding:0 5px;
  cursor:pointer;
  float:right;
  margin-right:10px;
}
#notification a {
  color:white;
  text-decoration:none;
  font-weight:bold
}

.deletebutton{
  float: right;
  margin-right: 17px;
  margin-top: 10px;
  background: #8cb4d2;
  color: white;
}

.searchstyle{

  position: absolute;
  margin-top: 10px;
  margin-left: 15px;
}

.blurim img:hover {
  -webkit-filter: blur(5px);
}

.newImg {
  max-width: 100%;
}

.greyblack {
  /*background: #666666;*/
  /*color: #e2e2e2 !important;*/
  padding-bottom: 10px !important;
  padding-left: 2px;
}

.stillBord {
  border: 1px solid #e4e4e4;
}

.editbtnstyle{

  padding: 6px 12px 9px 12px;
  border-radius: 5px;
  text-decoration: none !important;
}

.uploadedbystyle{

  padding-bottom: 9px;
  font-size: 11px;
  /* padding-bottom: 24px; */
  color: #636363;
}

.datestyle{
  float: right;
  margin-right: 10px;
}

label {
  display: inline-block;
  max-width: 91% !important;
  margin-bottom: 5px;
  font-weight: 700;
  margin-right: 24px;
}

.modal-dialog {
  width: 326px;
  margin: 30px auto;
}

.popupdisp{
  position: absolute;
  display: none;
  z-index: 2000;
  top: 0px;
  left: 320px;
}

.cover{
  background-color:black;
  width:100%;
  height:100%;
  display:none;
  position:fixed;
  z-index:5000;
}
